html, body {
	background: #003366;
	height: 100%;
	width: 100%;
}

button {
  height: 35px;
  width: 35px;
  border-radius: 8px;
  opacity: 0.6;
}

#simple_video_player {
	height: 500px;
	width: 800px;
	background: #a4d1f0;
	margin: auto auto;
}

#media-video {
	object-fit: initial;
	height: 400px;
	width: 100%;
	display: inline-block;
}

#media-controls {
	background: yellow;
}

#media-play-list {
	background: red;
}

.play {
	background-image: url('../fonts/play.png');
}

.pause {
	background-image: url('../fonts/pause.png');
}

.replay {
	background-image: url('../fonts/replay.png');
}

.stop {
	background-image: url('../fonts/stop.png');
}

.mute, .unmute {
	background-image: url('../fonts/mute.png');
}

.volume-minus {
	background-image: url('../fonts/minus.png');
}

.volume-plus {
	background-image: url('../fonts/plus.png');
}

.fullscreen {
	background-image: url('../fonts/fullscreen.png');
}

#progress-bar {
  margin-right: 10px;
  width: 75%;
  border-radius: 8px;
  opacity: 0.6;
}
