html, body {
	background-image:url(../fonts/background1.jpg);
	height: 100%;
	width: 100%;
}

button {
  height: 35px;
  width: 35px;
  border-radius: 20px;
  opacity: 0.6;
}

#simple_video_player {
	height: 500px;
	width: 800px;
	margin: auto auto;
	border-style: solid;
	border-width: medium;
	border-color: midnightblue;
	border-radius: 8px; 
}

#simple_video_player:hover { 
	border-color: white;
}

#media-video {
	object-fit: initial;
	height: 400px;
	width: 100%;
	display: inline-block;
}

.play {
	background-image: url('../fonts/new_buttons_play.png');
}

.pause {
	background-image: url('../fonts/new_buttons_pause.png');
}

.replay {
	background-image: url('../fonts/replay.png');
}

.stop {
	background-image: url('../fonts/new_buttons_stop.png');
}

.mute, .unmute {
	background-image: url('../fonts/new_buttons_mute.png');
}

.volume-minus {
	background-image: url('../fonts/minus.png');
}

.volume-plus {
	background-image: url('../fonts/plus.png');
}

.fullscreen {
	background-image: url('../fonts/new_buttons_fullscreen.png');
}

#progress-bar-container {
  width: 100%;

}

#progress-bar {
	width: 99%;

	display: block;

	margin-left: auto;

	margin-right: auto;
}
